.phase{
	display:none;
}
.phase:target{
	display:block;
}
body {
background-color: #f5f5f5;
}
.brand-logo:before{
	content:"Galletas de la suerte";
	font-size: 80%;
	padding-left:30px;
}
.ballr:after,
.title:after{
/*content:"\1f52e\1f52e";*/
    content: url(img/fortune_cookie.png);
    /* background-color: white; */
    padding-top: 12px;
    /* top: 11px; */
    /* left: 12px; */
    position: absolute;
    margin-left: -14px;
}

.ball-small-crushed:after{
/*content:"\1f52e\1f52e";*/
    content: url(img/fortune_cookie.c.png);
    /* background-color: white; */
    padding-top: 6px;
    /* top: 11px; */
    /* left: 12px; */
    position: absolute;
    margin-left: -15px;
    transform:scale(0.87);
}

.ball:after{
/*content:"\1f52e";*/
content:url('img/fortune_cookie.png');

}
header{
width:80%;
box-shadow:0 1.5px 5px #000;
text-align:center;
margin:auto;
padding: 1px 0px 1px;
font-family: consolas;
background: teal;
color: white;
}

[data-message]:before {
    content: attr(data-message);
    background: #000;
    padding: 2px 10px;
    //left: -137px;
    right:50px;
    position: absolute;
    border-radius: 2px;
    box-shadow: 0 0 3px rgba(0,0,0,.5);
    width:max-content;
}

.conseguirgalleta:before {
    content: "Conseguir una galleta";
    background: #000;
    padding: 2px 10px;
    left: -171px;
    position: absolute;
    border-radius: 2px;
    box-shadow: 0 0 3px rgba(0,0,0,.5);
}

[data-message]{
	overflow: visible !important;
}